#CategoryContent, #SideCategoryTopSellers {

	h2 { text-align:center; }

	ul { width:99% !important;margin: 0 auto; }

	li {
		width: 98% !important;
		background: #F1F0F0;
		border: solid 1px #d6d6d6;
		padding:1%;
		margin-bottom:5px;

		.TopSellerNumber { 
			display:inline-block;
			font-size:2em;
			vertical-align: top;
			background:#7F2500;
			color:#FFF;
			padding: 5px; }

		.ProductImage { display:inline-block; }

		.product_info { display:inline-block;width: 16.5em;vertical-align: top; }

		.ProductDetails, .ProductPriceRating, .ProductCompareButton { 
			text-align:center;
			margin:5px auto;
			height: auto !important;
			 }
	}
}

#SideCategoryNewProducts h2 { margin-top:20px; }

#SideCategoryNewProducts, #SidePopularProducts {
	text-align:center;
	padding:10px;
	max-height: 280px;

	ul {
		width: 2000px !important;
	}

	li {
		float: left;
		display: inline;
		text-align:center; 
		width: 176px !important;
		margin: 0px 5px;
		padding: 10px 5px;
		background: white;

		.ProductImage { 
			margin: 0px 10px;
			width: 165px !important;
			height:120px;
			display:block;
			 }

	} // end li

}//end SideCategoryNewProducts

.SubCategoryList ul li { text-align:center;
	a { font-size:1.1em;font-weight:bold; }
	}//end SubCategoryList

.CompareButtonContainer { margin-top: 100px; }	