input[type="text"], input[type="password"] {

	  background-color:#F4F2E1;
      border: solid thin #7F2500;
      color: #7F2500;
      width: 90%;
      margin: 0px auto;

}

.Submit a { color:#e04700; }

.create_account {
  -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px; /* Firefox 1-3.6 */
  border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border: solid thin #7F2500;
  background-color: #7F2500;
  margin:0.25em 0.5em 0.25em 0.5em !important;

      li { 
      float:none;
      margin-right:0px;
      background-color:#F4F2E1;
      padding:5px 0px 5px 20px;
      border: solid thin #7F2500;
      color: #7F2500;
      font-weight:bold;
      }//end li 	
}

.create_click_here, input[type="submit"] { 
	background: #7F2500;
	display: block;
	margin: 5px auto;
	padding: 5px 0px;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 1.25em;
	color:#FFF;
	border: solid 1px #2b0c00;
	  -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	  -moz-border-radius: 5px; /* Firefox 1-3.6 */
	  border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	box-shadow:         1px 0px 3px 3px #dbdbdb;
	  -moz-box-shadow:    1px 0px 3px 3px #dbdbdb;
	  -webkit-box-shadow: 1px 0px 3px 3px #dbdbdb;
}