// Site-wide styles go here
// What shouldn't go here
//   - global declarative classes, mixins, or variables, that goes in _lib.scss
 
body {
  font-family: $font_family;
  font-size: $font_size;
  height: 100%;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
h2{
  margin: 5px 0 10px;
}
p {
  font-size: $font_size;
}
 
textarea, input[type="text"], input[type="password"], select {
  @include border-radius(3px);
  border: $border2;
  padding: 8px;
  vertical-align: middle;
  margin: 0px 5px;
}
a {
  text-decoration: none;
  color: $color5;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
hr {
  margin: 10px 0;
  padding: 0;
  background: $color6;
  height: 1px;
  border: 0;
}

// Add Styling for Products

.QuickViewBtn { display:none !important; }

.ProductActionAdd {
background: #7F2500;
display: block;
margin: 5px auto;
padding: 2px 0px 5px 0px;
width: 125px;
height: 18px;
text-align: center;
font-size: .95em;
border: solid 1px #2b0c00;
  -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px; /* Firefox 1-3.6 */
  border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
box-shadow:         1px 0px 3px 3px #dbdbdb;
  -moz-box-shadow:    1px 0px 3px 3px #dbdbdb;
  -webkit-box-shadow: 1px 0px 3px 3px #dbdbdb;

  a { color:#FFF; }
}// end ProductActionAdd

.ProductDetails {
  margin-top: 10px;
  strong a { font-size:0.8em; }
} // end ProductDetails

// Styling for Carousel Stuff
.Previous, .Next, .Dots { display:inline; }

//Modal Pop Up Styling
#ModalContainer { 
  width:84% !important;
  top:10px !important;
  margin:0 10px !important;
  padding:5%;
  background: #F1F0F0;
  border: solid 1px #d6d6d6;
  -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px; /* Firefox 1-3.6 */
  border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */

  .modalData { max-height:380px; }

  .modalClose { 
    background: #7F2500;
    display: block;
    padding: 5px 0px;
    width: 125px;
    height: 18px;
    text-align: center;
    font-size: 1em;
    color:#FFF;
    border: solid 1px #2b0c00;
      -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -moz-border-radius: 5px; /* Firefox 1-3.6 */
      border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    box-shadow:         1px 0px 3px 3px #dbdbdb;
      -moz-box-shadow:    1px 0px 3px 3px #dbdbdb;
      -webkit-box-shadow: 1px 0px 3px 3px #dbdbdb;
      }
}

.SideCategoryListClassic { display:block;width:100%;height:auto; }

//Style of dd accordians
#SideCategoryShopByPrice, #SideShopByBrand, #CategoryHeading { 
  -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 5px; /* Firefox 1-3.6 */
  border-radius: 5px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border: solid thin #7F2500;
  background-color: #7F2500;
  margin:0.25em 0.5em 0.25em 0.5em !important; 
}

#SideCategoryShopByPrice h2, #SideShopByBrand h2, #CategoryHeading {
    color: white;
    font-weight:bold;
    font-size:1.1em;
    padding:5px 0px 5px 10px;
    margin:0px;
}

#SideCategoryShopByPrice h2, #SideShopByBrand h2 {

  .mw_indicator { 
    float:right;
    margin: 4px 10px 0px 0px;
  }

  &[data-ur-state="disabled"] {
    > .mw_indicator {
      @extend .sprites-plus;
    } //end indicator
  } // end disabled
  
  &[data-ur-state="enabled"] {
    > .mw_indicator {
      @extend .sprites-minus;
    } //end indicator
  }// end enabled
}// end h2

.mw_list_item { 
  background-color:#F4F2E1;
  padding:5px 0px 5px 20px;
  border: solid thin #7F2500;

  .mw_list_item a {
  color: #7F2500;
  font-weight:bold;
  }

  //add right arrows to list items
  .mw_arrow {
    @include sprites-menu_go;
    float: right;
    margin: 5px 10px 0px 0px;
  }
}

.styled-select {
   display:inline;
   height: 20px;
   background-color: #7F2500;
   }

.styled-select select {
   background: transparent;
   padding: 0px 10px;
   font-size:1em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 20px;
   color:#FFF;
   }

//Style every other ProductList UL that I didn't do custom
.ProductList {

  ul { width:99% !important;margin: 0 auto; }

  li {
    width: 98% !important;
    background: #F1F0F0;
    border: solid 1px #d6d6d6;
    padding:1%;
    margin-bottom:5px;

    .TopSellerNumber { 
      display:inline-block;
      font-size:2em;
      vertical-align: top;
      background:#7F2500;
      color:#FFF;
      padding: 5px; }

    .ProductImage { display:inline-block; }

    .product_info { display:inline-block;width: 16.5em;vertical-align: top; }

    .ProductDetails, .ProductPriceRating, .ProductCompareButton { 
      text-align:center;
      margin:5px auto;
      height: auto !important;
       }
  }
}
