//for _base.scss
$font_family: Verdana, Arial, Sans-Serif;
$font_size: 12px;
$border2: solid 1px #ccc;
$color5: #2D2D2D; //dark gray like mock-ups used for links
$color6: #C7D7DB; //light teal gray like mock-ups used for hr

//colors
$color1: #B03B01; // sections/_header bg color
$color2: #075899; // sections/_header link color

// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();

